body{
    background: rgb(198,98,66);
    background: linear-gradient(90deg, rgba(84,121,188,1)  0%, rgba(150,164,180,1) 75%, rgba(198,98,66,1) 100%);
}

.seccionFormulario{
    background-color: #fff;
}