a{
    display: none !important;
}

.imgHeader{
    width: 200px;
    height: 200px;
}

img{
    object-fit: contain;
}

header{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

#encuestaForm{
    text-align: center;
    padding: 0px 15px;
}

.encuesta{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin: 15px 0;
    text-align: center;
}

.intro{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

.pregunta{
    font-family: 'Times New Roman', Times, serif;
}

.sectGeneral{
    display: flex;
    justify-content: center;
}

.seccionFormulario{
    margin: 15px 10px 30px 10px;
    border-radius: 10px;
    box-shadow: 1px 0px 10px 2px rgba(116,115,115,0.66);
    -webkit-box-shadow: 1px 0px 10px 2px rgba(116,115,115,0.66);
    -moz-box-shadow: 1px 0px 10px 2px rgba(116,115,115,0.66);
}

#encuestaForm label{
    font-family: 'Times New Roman', Times, serif;
}

input[type="radio"] {
    transform: scale(1.85);
    margin-left: 18px;
    margin-right: 5px;
}

#enviarEncuesta {
    margin: 0px 0px 30px 0px;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-weight: bolder;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

#enviarEncuesta:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}

#enviarEncuesta:active {
	position:relative;
	top:1px;
}

.seccionAgradecimiento{
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

.seccionAgradecimiento h1{
    font-weight: bolder;
    font-size: 40px;
}

.seccionAgradecimiento p{
    font-size: 20px;
}

.respuestas{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.idiomaForm{
    display: flex;
    align-items: center;
    font-size: 35px;
}
    
.idiotaForm label{
    margin: 0px 13px;
}

.selectIdioma{
    height: 35px;
    width: 120px;
    margin: 0px 13px;
    font-size: 20px;
}
    
.cambiarIdioma{
    font-size: 20px;
    height: 35px;
    width: 130px;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    font-weight: bolder;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

/*Celular chico*/
@media (min-width: 125px) {
    .seccionFormulario{
        width: 560px;
    }

    #enviarEncuesta{
        height: 40px;
        width: 160px;
        padding: 5px 19px;
        font-size: 20px;
    }

    .topFormulario{
        margin: 8px 15px;
        padding: 8px 12px;
    }

    .encuesta{
        font-size: 25px;
    }
    
    .intro{
        font-size: 26px;
    }

    .pregunta{
        font-size: 18px;
    }

    #encuestaForm label{
        font-size: 27px;
    }
}

/*Celular medio*/
@media (min-width: 375px) {
    .seccionFormulario{
        width: 760px;
    }

    #enviarEncuesta{
        height: 50px;
        width: 190px;
        padding: 5px 19px;
        font-size: 25px;
    }

    .topFormulario{
        margin: 8px 15px;
        padding: 8px 12px;
    }

    .encuesta{
        font-size: 28px;
    }
    
    .intro{
        font-size: 26px;
    }

    .pregunta{
        font-size: 20px;
    }

    #encuestaForm label{
        font-size: 30px;
    }
}

/*Celular grande*/
@media (min-width: 720px) {
    .seccionFormulario{
        width: 800px;
    }

    #enviarEncuesta{
        height: 50px;
        width: 220px;
        padding: 5px 19px;
        font-size: 25px;
    }

    .topFormulario{
        margin: 8px 16px;
        padding: 8px 13px;
    }

    .encuesta{
        font-size: 27px;
    }

    .intro{
        font-size: 23px;
    }

    .pregunta{
        font-size: 20px;
    }
    
    .respuestas{
        margin-bottom: 30px;
    }

    #encuestaForm label{
        font-size: 35px;
    }
}

/*Notebook/netbook*/
@media (min-width: 1040px) {
    .seccionFormulario{
        width: 830px;
    }

    #enviarEncuesta{
        height: 55px;
        width: 270px;
        padding: 5px 19px;
        font-size: 30px;
    }

    .topFormulario{
        margin: 10px 18px;
        padding: 10px 14px;
    }

    .encuesta{
        font-size: 32px;
    }
    
    .intro{
        font-size: 30px;
    }
    
    .pregunta{
        font-size: 29px;
    }

    #encuestaForm label{
        font-size: 29px;
    }
}

/*Computadora de escritorio*/
@media (min-width: 1440px) {
    .seccionFormulario{
        width: 900px;
    }

    #enviarEncuesta{
        height: 58px;
        width: 280px;
        padding: 5px 19px;
        font-size: 30px;
    }

    .topFormulario{
        margin: 10px 20px;
        padding: 10px 15px;
    }

    .encuesta{
        font-size: 32px;
    }
    
    .intro{
        font-size: 30px;
    }
    
    .pregunta{
        font-size: 29px;
    }

    #encuestaForm label{
        font-size: 29px;
    }
}